 body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator-container {
    background-color: rgb(223, 202, 111);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
}

h1 {
    margin: 0;
    text-align: center;
}

.calculator-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 16px;
}

.cal-btn {
    background-color: darkslateblue;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.cal-btn:hover {
    background-color: slateblue;
}

.hasil {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
